# Исключаем конфигурацию с паролями
config.ini

# Исключаем папку с генерируемыми отчетами
ip_registry/

# Исключаем артефакты компиляции PyInstaller
*.exe
build/
dist/
*.spec

# Исключаем системный кэш Python
__pycache__/
*.pyc